<h2>Lista de Categorias</h2>
<br>
<a href="/admin/categorias/add"><button class="btn btn-success">Nova Categoria</button></a>
<br>
{{#each categorias}}

<div class="card mt-4">
    <div class="card-body">
        <h4>
            {{nome}}
        </h4>
        <small>
            Slug: {{slug}}
        </small> <br>
        <small>
            Data de criação: {{date}}
        </small><br><br>
        <a href="/admin/categorias/edit/{{_id}}"><button class="btn btn-success">Editar categoria</button></a><br><br>
        <a href="/admin/categorias/deletar/{{_id}}"><button class="btn btn-danger">Deletar categoria</button></a>
    </div>
</div>
{{else}}

<h5 class="mt-4">Nenhuma categoria registrada</h5>

{{/each}}